<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>cattube</title>
        <link rel="stylesheet" href="/static/index.css"/>
        <script src="/static/index.js" defer></script>
    </head>
    <body>
        <main>
            <h1>cattube</h1>
            <div class="wrapper">
                <input id="input-url" type="text" placeholder="Enter URL"/>
                <button id="submit-button">Submit</button>
                <div id="progress-tracker">
                    <p style="margin:0;"></p>
                    <div id="progress-tracker-tracker"></div>
                </div>
                <div id="server-response"></div>
            </div>
        </main
    </body>
</html>

