<!DOCTYPE html>
<html>
    <head>
        <title>Pawst</title>
        <link rel="stylesheet" href="/static/index.css"/>
        <script src="/static/index.js" defer></script>
    </head>
    <body>
        <div class="wrapper">
            <h1>Pawst</h1>
            <input id="input-url" type="text" placeholder="Enter URL"/>
            <button id="submit-button">Submit</button>
            <button id="trace-button">Trace</button>
            <div id="progress-tracker"></div>
        </div
    </body>
</html>

